@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.woff2) format("woff2"),
    url(../fonts/Raleway-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.woff2) format("woff2"),
    url(../fonts/Raleway-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}

h3 {
  color: aliceblue;
  font-family: Raleway;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}
h2 {
  font-family: Raleway;
  font-size: 40px;
  text-transform: uppercase;
}
.header {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}
.header__links-list-item,
.header__links-list-about {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
}
.cover__title {
  color: azure;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.cover__description-text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
.bet-button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
}
.card__text {
  color: aliceblue;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.heading {
  font-family: Raleway;
  font-weight: 700;
}
.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.about__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
}
.address {
  font-family: Raleway;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 3px;
}
.footer__menu-list {
  font-family: Raleway;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 3px;
}
