header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 292px;
  padding: 0 50px 4px 48px;
}
.header__links-list {
  display: flex;
  justify-content: start;
  gap: 27px;
  white-space: nowrap;
}
.header__links-list-about {
  list-style: circle;
}
.header__links-list-item {
  padding-left: 2.8px;
  list-style: circle;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__logo {
  width: 136px;
  height: 110px;
  margin: 9px;
}
.header__logo-image {
  position: relative;
  top: 2px;
  left: 2px;
}
.address {
  display: flex;
  flex-direction: column;
  font-weight: inherit;
  font-style: inherit;
}
.header__address-offset {
  text-underline-offset: 4px;
}
.header__address {
  display: flex;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  color: #fff;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 166px;
}
.aligned-text {
  display: block;
  margin-right: -30px;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 107px;
  margin-bottom: 51px;
}
.overlay {
  position: absolute;
  inset: 0; /*позиционируем в левый верхний угол*/
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__description-text {
  text-transform: uppercase;
  word-spacing: 0.85em;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  background-color: transparent;
}

.lots {
  margin: 182px 0 125px 0;
}
.heading {
  font-family: Raleway;
  font-weight: 700;
}
.lots__heading,
.lots__look-more-link {
  display: block;
  margin-left: 64px;
}
.lots__heading {
  margin-bottom: 30px;
}
.lots__look-more-link {
  margin-top: 32px;
  text-underline-offset: 4px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  min-height: 596px;
  list-style: none;
  background-position: center;
  background-size: cover;
}
.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 100%;
}
.card-link .card {
  min-height: 100%;
}
.card {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  padding: 48px 40px;
}
.card-link {
  display: block;
  height: 100%;
}
.card__title,
.card__text {
  z-index: 3;
  display: flex;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  grid-template-columns: 360px 1fr;
  margin: 0 25px;
}
.about__column {
  margin: 0;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 242px;
  margin: 30px 0 0 46px;
  border-radius: 100%;
  background-color: #000000;
}
.about__title {
  margin-left: -1px;
  padding: 136px 0 103px 0;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: -1px;
}
.about__logo-image {
  width: 146px;
  height: 125px;
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 180px;
  margin: 181px 50px 0 50.57px;
}
.footer__social-list {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 48px;
  list-style: none;
}
.footer__menu-list {
  text-align: center;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
