body {
}
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 30px;
}
.header {
  font-size: 17px;
}
.header__links-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: circle;
  white-space: nowrap;
}
.header__logo {
  /*   top: 1.16px;
  left: 9.03px; */
  width: 130px;
  height: 105px;
  margin: auto;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-weight: inherit;
  font-style: inherit;
}
.main {
}
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 50px 50px;
}
.cover__title {
  margin-top: 104px;
  position: relative;
  z-index: 2;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding-right: 50px;
  margin-top: 96px;
}
.overlay {
  position: absolute;
  z-index: 1;
  inset: 0; /*позиционируем в левый верхний угол*/
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__description-text {
  text-transform: uppercase;
  word-spacing: 0.85em;
}
.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
.cover {
  display: flex;
  position: relative;
  min-height: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}
.title_description {
  position: relative;
  z-index: 10;
  word-spacing: 15px;
}
.cover__title {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 125px;
}
.aligned-text {
  display: block;
  text-transform: uppercase;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 28, 28, 0.4);
}
  */
/* 
footer {
}
.link__page__index {
}
.link__page__Lots {
}
.link__page__about {
} */

.lots {
  top: 1230px;
  left: 24px;
  width: 1052px;
  height: 723px;
}

.description {
}
.button {
}
.lots__frame {
}
.text__description {
}
.lots__text__heading {
}
.lots__next {
}
.about {
}
.logo__black__circle {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: #000000;
}
.logo__black {
}
.footer__menu {
  display: flex;
}
.social {
  display: block;
  width: 48px;
  height: 48px;
  border-width: 1px;
}

/* место для вашего кода*/
.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1100px;
  opacity: 0.5;
  transform: translateX(-50%);
}

/* 
nav menu
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

menu
;


contacts
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24.3px;
letter-spacing: 0%;


title


description
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
text-transform: uppercase;

button
font-family: Raleway;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;

lots__text__heading
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;

text__description
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%; */
