body {
}
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 30px;
}
.header {
  font-size: 17px;
}
.header__links-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: circle;
  white-space: nowrap;
}
.header__logo {
  /*   top: 1.16px;
  left: 9.03px; */
  width: 130px;
  height: 105px;
  margin: auto;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-weight: inherit;
  font-style: inherit;
}
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 50px 50px;
  color: #fff;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover__title {
  position: relative;
  z-index: 2;
  margin-top: 104px;
}
.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  padding-right: 50px;
}
.overlay {
  position: absolute;
  inset: 0; /*позиционируем в левый верхний угол*/
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__description-text {
  padding-bottom: 61px;
  text-transform: uppercase;
  word-spacing: 0.85em;
}
.bet-button {
  margin: 0 50px 50px 0;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  background-color: transparent;
}
.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.lots {
/*   display: grid;
display: flex; */
}
.lots__card-list {
  background-size: cover;
  background-position: center;

}

.lots__card-list-item {
  width: 334px;
  min-height: 100%;
 

}
.card {
 display: flex;
}
.card-link {
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* межбуковка 
letter-spacing-extended
no-letter-spacing*/

.logo__black__circle {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: #000000;
}
.footer__menu {
  display: flex;
}
.social {
  display: block;
  width: 48px;
  height: 48px;
  border-width: 1px;
}

/* место для вашего кода*/
.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1100px;
  opacity: 0.5;
  transform: translateX(-50%);
}

/* 
nav menu
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

menu
;


contacts
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24.3px;
letter-spacing: 0%;


title


description
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 22px;
leading-trim: NONE;
line-height: 28px;
letter-spacing: 0%;
text-transform: uppercase;

button
font-family: Raleway;
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;

lots__text__heading
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;

text__description
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%; */
